<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style="color:tomato"><%= title %></h1>
    <p>Secciones 2 y 4</p>
  </body>
</html>
